

.chatbox {
  position: absolute;
  bottom: 20px;
  right: 30px;
}


.chatbox__support {
    position: relative;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 2px solid rgb(237, 238, 241); 
  width: 340px;
  height: 490px;
  z-index: -123456;
  border-radius: 25px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}




.chatbox--active {
  transform: translateY(-40px);
  z-index: 123456;
  opacity: 1;
}


.chatbox__button {
  text-align: right;
  
}

.chatbot-btn{
  border-radius: 40px;
  width: 60px;
  height: 60px;
  background:linear-gradient(123.75deg, #F5821F 1.87%, #FF5C00 120.46%);
  border:1px solid rgb(231, 225, 225);
}


.chatbox__header {
  position: sticky;
  top: 0;
  height: 40%;
  font-family: 'DM Sans', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.05em;
  text-align: left;
  padding: 20px 25px 20px 50px ;
  border-radius: 25px 25px 0px 0px;
  z-index: 5;
  background: linear-gradient(123.75deg, #F5821F 1.87%, #FF5C00 120.46%);
}


.chatbox__messages {
  margin-top: auto;
  display: flex;
  flex-direction: column;
 
}

.box-top{
    z-index: 12;
    position: absolute;
    overflow: visible;

    
}

.faq{
    z-index: 150;
    position: absolute;
    top: 41%;
    left:66.5px;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;

}

.circle-top{
    z-index: 200;
    position: absolute;
    top: 24.5%;
    left:40px;
    filter: drop-shadow(0px 3px 3px rgba(136, 97, 97, 0.4));
    
}

.btn-group{
    position: absolute;
    z-index: 300;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-top: 10px;
    top: 48%;
    left:48px;
    
}

button:active {
  background-color: #ffffff;
  box-shadow: 0 2px rgb(180, 179, 179);
  transform: translateY(1.5px);
}

.btn-group-2{
  position: absolute;
  justify-content: center;
  z-index: 308;
  display: flex;
  flex-direction: column;
  width: 180px;
  padding-top: 0px; 
  top: 90.4%;
  left:65px;
  
}

.btn-s{
  border-radius: 8px;
  background-color: white;
  padding-left: 35px;
  height: 30px;
  width: 245px;
  font-family: 'DM Sans', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  margin-bottom: 14px;
  border-color: rgb(110, 109, 109);
  border:1px solid rgb(184, 184, 184);
  filter: drop-shadow(0px 3px 3px rgba(136, 97, 97, 0.2));
}

.btn-r{
  border-radius: 25px;
  background-color: white;
  height: 30px;
  width: 210px;
  font-family: 'DM Sans', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  border:1px solid rgb(184, 184, 184);
  filter: drop-shadow(0px 3px 3px rgba(136, 97, 97, 0.4));
}

.messages__item {
  background: orange;
  max-width: 60.6%;
  width: fit-content;
}

.messages__item--operator {
  margin-left: auto;
}

.messages__item--visitor {
  margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
  position: sticky;
  bottom: 0;
}


.bot-img{
  z-index: 250;
  position: absolute;
  top: 30.5%;
  left: 15.7%;

}

.bullet2{
  z-index: 309;
  position: absolute;
  top: 39%;
  left:20px;

}

.bullet1{
  z-index: 307;
  position: absolute;
  top: 30%;
  left:16.5px;

}

.question{
  z-index: 401;
  position: absolute;
  left: 104%;
  top: 20%;

}

.qbackground{
  z-index: 400;
  position: absolute;
  left: 101%;
  top: 10%;

}

.speech{
  z-index: 410;
  position: absolute;
  left: 8%;
  top: 5px;

}

.wave{
  font-size:x-large;
}


